      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; <a href="https://docs.google.com/presentation/d/1TEcGI4vrV7i7Lz6IzCoJh9mge2YtylpPrx_7LoSUICc/edit?usp=sharing" class="text-muted" target="_blank">Google HPS 2024</a> - coded by Group 1.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://github.com/charlotteannchen/Good-Lock/" class="nav-link text-muted" target="_blank">GitHub</a>
                </li>
                <li class="nav-item">
                  <a href="https://docs.google.com/presentation/d/1TEcGI4vrV7i7Lz6IzCoJh9mge2YtylpPrx_7LoSUICc/edit?usp=sharing" class="nav-link text-muted" target="_blank">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>